.bandcampWidget {
  display: block;
  border: 0;
}

.bandcampWidgetXs {
  margin: 0 8px -24px 8px;
  width: calc(100vw - 32px);
}

.bandcampWidgetSmMdLgXl {
  margin: 8px;
  width: 50vw;
}

.description {
  margin: 0 8px 16px 8px;
  font-size: 0.83em;
}
