$mat-cfm: (
  50: #EEE2D9,
  100: #DDD2CB,
  200: #CDC3BD,
  300: #BDB4B0,
  400: #ADA5A2,
  500: #9D9595,
  600: #8D8687,
  700: #7D777A,
  800: #6D686C,
  900: #5D585F,
  A100: #4D4951,
  A200: #3D3A44,
  A400: #2D2B36,
  A700: #1D1C29,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.87),
    A200: white,
    A400: white,
    A700: white));
